body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    text-align: center;
}

h1 {
    color: #b73380;
}

h2 {
    color: #cc6696;
}

input[type="text"],
button {
    margin: 5px;
    padding: 10px;
    background-color: #ffccf8;
    border: none;
    color: #b7338f;
}

button {
    background-color: #cc0070;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #b30068;
}

p {
    margin: 5px;
    padding: 10px;
    background-color: #cce0ff;
    color: #b73380;
}